body{
    background-color: rgba(16, 110, 187, 0.822);
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    overflow-y: auto;
}

#top{
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 90%;
    position: absolute;
    padding-left: 30px;
    font-weight: bold;
    padding-top: 10px;
}

#name{
    top: 0%;
    left: 0%;
    position: absolute;
    width: 220px;
    height: 100px;
    font-size: 36px;
    text-align: center;
    padding-top: 15px;
}

#leaderboard{
    top: 0%;
    left: 15%;
    position: absolute;
    width: 250px;
    height: 100px;
    font-size: 36px;
    text-align: center;
    padding-top: 15px;
}

#login{
    top: 0%;
    left: 75%;
    position: absolute;
    width: 170px;
    height: 100px;
    font-size: 36px;
    text-align: center;
    padding-top: 15px;
}

#signup{
    top: 0%;
    right: 0%;
    position: absolute;
    width: 170px;
    height: 100px;
    font-size: 36px;
    text-align: center;
    padding-top: 15px;
    margin-right: 20px;
}

#table{
    top: 0%;
    left: 20%;
    position: absolute;
}

#content{
    background-color: rgb(196, 191, 191);
    top: 10%;
    left: 0%;
    right: 0%;
    bottom: 5%;
    height: 630px;
    position: absolute;
    margin-bottom: 10px;
    text-align: center;
}

tr,td{
    width: 100px;
    padding-left: 100px;
}

#square_1,#square_2,#square_3,#square_4,#square_5{
    width: 250px;
    height: 250px;
    background: white;
    text-align: center;
}

#skill_1,#skill_2,#skill_3,#skill_4,#skill_5{
    font-size: 50px;
    font-weight: bold;
    padding-top: 25%;
}