body{
    background-color: rgba(16, 110, 187, 0.822);
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    overflow-y: auto;
}

#top{
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 90%;
    position: absolute;
    padding-left: 30px;
    font-weight: bold;
    padding-top: 10px;
}

#name{
    top: 0%;
    left: 0%;
    position: absolute;
    width: 220px;
    height: 100px;
    font-size: 36px;
    text-align: center;
    padding-top: 15px;
}

#leaderboard{
    top: 0%;
    left: 15%;
    position: absolute;
    width: 250px;
    height: 100px;
    font-size: 36px;
    text-align: center;
    padding-top: 15px;
}

#login{
    top: 0%;
    left: 75%;
    position: absolute;
    width: 170px;
    height: 100px;
    font-size: 36px;
    text-align: center;
    padding-top: 15px;
}

#signup{
    top: 0%;
    right: 0%;
    position: absolute;
    width: 170px;
    height: 100px;
    font-size: 36px;
    text-align: center;
    padding-top: 15px;
    margin-right: 20px;
}

#content{
    background-color: rgb(196, 191, 191);
    top: 10%;
    left: 0%;
    right: 0%;
    bottom: 5%;
    height: 630px;
    position: absolute;
    margin-bottom: 10px;
    font-size: 32px;
    overflow-y: auto;
}

#user{
    left: 15%;
    width: 400px;
    position: absolute;
    border-bottom: 3px solid black;
}

.box{
    margin-left: 20%;
    margin-right: 20%;
}

.dropbtn {
    padding: 16px;
    font-size: 24px;
    border: none;
}

.dropdown {
    position: absolute;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    width: 300px;
    max-height: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow-y: auto;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.options{
    width: 400px;
    left: 0%;
    position: absolute;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgba(16, 110, 187, 0.822);}

#table{
    left: 16%;
    top: 23%;
    position: absolute;
}

tr,td{
    width: 600px;
    padding-top: 5px;
    padding-bottom: 5px;
}