body{
    background-color: rgba(16, 110, 187, 0.822);
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

#top{
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 90%;
    position: absolute;
    padding-left: 30px;
    font-weight: bold;
    padding-top: 10px;
}

#name{
    top: 0%;
    left: 0%;
    position: absolute;
    width: 220px;
    height: 100px;
    font-size: 36px;
    text-align: center;
    padding-top: 15px;
}

#leaderboard{
    top: 0%;
    left: 15%;
    position: absolute;
    width: 250px;
    height: 100px;
    font-size: 36px;
    text-align: center;
    padding-top: 15px;
}

#login{
    top: 0%;
    left: 75%;
    position: absolute;
    width: 170px;
    height: 100px;
    font-size: 36px;
    text-align: center;
    padding-top: 15px;
}

#signup{
    top: 0%;
    right: 0%;
    position: absolute;
    width: 170px;
    height: 100px;
    font-size: 36px;
    text-align: center;
    padding-top: 15px;
    margin-right: 20px;
}

#clickBox{
    background-color: rgb(196, 191, 191);
    top: 10%;
    left: 0%;
    right: 0%;
    bottom: 30%;
    position: absolute;
    text-align: center;
}

#title{
    font-size: 56px;
    font-weight: bold;
}

#bottom{
    font-size: 36px;
    top: 70%;
    left: 0%;
    right: 0%;
    position: absolute;
}

#pb{
    padding-left: 10%;
}

#current_score{
    padding-left: 45%;
}

#desc_1,#desc_2{
    font-size: 36px;
}

.timer {
    width: 40%;
    margin: 25px auto;
  }
  .timer .inner {
    height: 15px;
    animation: progressbar-countdown;
    animation-duration: 40s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /* We start paused, we start the animation using javascript */
    animation-play-state: paused;
    /* We want a linear animation, ease-out is standard */
    animation-timing-function: linear;
  }
  @keyframes progressbar-countdown {
    0% {
      width: 100%;
      background: #0F0;
    }
    100% {
      width: 0%;
      background: #F00;
    }
}

#input{
    background-color: rgba(155, 205, 238, 0.568);
    width: 400px;
    height: 35px;
    font-size: 32px;
    margin-right: 20px;
}

#btn{
    width: 100px;
    height: 30px;
    margin-top: 20px;
    background-color: antiquewhite;
}